.success {
	text-align: center;
	background-color: #28a745;
	color: #fff;
	padding: 20px;
	border-radius: 30px;
}

.success__title {
	margin-bottom: 15px;
	font-size: 18px;
}

.success__list li {
	margin-bottom: 5px;
	font-size: 18px;
}